{% extends "base.html" %}

{% block content %}
<h1> I nostri partner ... </h1>

{% if proprieta_list %}
    <ul>
    {% for p in proprieta_list %}
        <li><a href="{% url 'albdif:proprieta_detail' p.pk %}">{{ p }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna proprieta disponibile</p>
{% endif %}

{% if proprieta_list %}
    <ul>
    {% for p in proprieta_list %}
        <div style="display: flex;">
            <div style="flex: 1;"></div>
            <div style="flex: 5; text-align: center;">
                <img src="../static/img/background1.jpg" alt="Descrizione immagine" style="width: 100%; height: auto;">
            </div>
            <div style="flex: 1;"></div>
            <div style="flex: 4; display: flex; align-items: center; justify-content: center;">
                <p>p.descrizione</p>
            </div>
            <div style="flex: 1;"></div>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna proprieta disponibile</p>
{% endif %}



{% endblock content %}
